<h2>Önreflexió</h2>

<div>

	<div 
		ng-repeat="ref_genre in vers.reflect.ref_genre" 
		ng-init="refGenIn = $index; refBtn = 'ref_genre'">

		<div>

			<h3> 
				Műfaji reflexió #{{ refGenIn +1 }} |
				
				<ng-include src="'ng/shared/forms/formRefButtons.html'"></ng-include>
			
			</h3>

		    <label class="control-label col-md-2">
		    	Műfaji reflexió
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_genre.name" 
			        placeholder="Műfaji reflexió">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Kifejtve
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_genre.desc" 
			        placeholder="Műfaji reflexió kifejtve">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Helye
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_genre.locus" 
			        placeholder="Műfaji reflexió helye">
			    </input>
		    </div>

		</div>
<!-- 
		<div class="form-group">
            <label class="control-label col-md-2" for="comp_group">
                <a ng-click="addRefGen()" ng-show="$last" href="">
                    <span class="glyphicon glyphicon-plus"></span>
                    Műfaji reflexió hozzáadása 
                </a>
            </label>  

             <label class="control-label col-md-2" ng-show="$index > 0" for="comp_group">
                <a ng-click="removeRefGen()" ng-show="$last" href="">
                    <span class="glyphicon glyphicon-minus"></span>
                    Műfaji reflexió eltávolítása
                </a>
            </label>
        </div>
 -->
	</div>

	<div 
		ng-repeat="ref_input in vers.reflect.ref_input" 
		ng-init="refInputIn = $index; refBtn = 'ref_input'">

		<div>

			<h3> 
				Befogadás kifejezései #{{ refInputIn +1 }} | 
				
				<ng-include src="'ng/shared/forms/formRefButtons.html'"></ng-include>

			</h3>

		    <label class="control-label col-md-2">
		    	Befogadás kifejezései
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_input.name" 
			        placeholder="Befogadás kifejezései">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Kifejtve
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_input.desc" 
			        placeholder="Befogadás kifejezései kifejtve">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Helye
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_input.locus" 
			        placeholder="Befogadás kifejezéseinek helye">
			    </input>
		    </div>

		</div>
<!-- 
		<div class="form-group">
            <label class="control-label col-md-2" for="comp_group">
                <a ng-click="addRefInput()" ng-show="$last" href="">
                    <span class="glyphicon glyphicon-plus"></span>
                    Befogadás kifejezései hozzáadása 
                </a>
            </label>  

             <label class="control-label col-md-2" ng-show="$index > 0" for="comp_group">
                <a ng-click="removeRefInput()" ng-show="$last" href="">
                    <span class="glyphicon glyphicon-minus"></span>
                    Befogadás kifejezései eltávolítása
                </a>
            </label>
        </div>
 -->
	</div>

	<div 
		ng-repeat="ref_edit in vers.reflect.ref_edit" 
		ng-init="refEditIn = $index; refBtn = 'ref_edit'">

		<div>

			<h3> 
				Szereztetés, szerkesztés #{{ refEditIn +1 }} |

				<ng-include src="'ng/shared/forms/formRefButtons.html'"></ng-include>

			</h3>

		    <label class="control-label col-md-2">
		    	Szereztetés, szerkesztés
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_edit.name" 
			        placeholder="Szereztetés, szerkesztés">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Kifejtve
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_edit.desc" 
			        placeholder="Szereztetés, szerkesztés kifejtve">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Helye
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_edit.locus" 
			        placeholder="Szereztetés, szerkesztés helye">
			    </input>
		    </div>

		</div>
<!-- 
		<div class="form-group">
	        <label class="control-label col-md-2" for="comp_group">
	            <a ng-click="addRefEdit()" ng-show="$last" href="">
	                <span class="glyphicon glyphicon-plus"></span>
	                Szereztetés, szerkesztés hozzáadása 
	            </a>
	        </label>  

	         <label class="control-label col-md-2" ng-show="$index > 0" for="comp_group">
	            <a ng-click="removeRefEdit()" ng-show="$last" href="">
	                <span class="glyphicon glyphicon-minus"></span>
	                Szereztetés, szerkesztés eltávolítása
	            </a>
	        </label>
        </div>
 -->
	</div>

	<div 
		ng-repeat="ref_func in vers.reflect.ref_func" 
		ng-init="refFuncIn = $index; refBtn = 'ref_func'">

		<div>

			<h3> 
				Funkció, alkalom #{{ refFuncIn +1 }} |

				<ng-include src="'ng/shared/forms/formRefButtons.html'"></ng-include>

			</h3>

		    <label class="control-label col-md-2">
		    	Funkció, alkalom
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_func.name" 
			        placeholder="Funkció, alkalom">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Kifejtve
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_func.desc" 
			        placeholder="Funkció, alkalom kifejtve">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Helye
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_func.locus" 
			        placeholder="Funkció, alkalom helye">
			    </input>
		    </div>

		</div>
<!-- 
		<div class="form-group">
	        <label class="control-label col-md-2" for="comp_group">
	            <a ng-click="addRefFunc()" ng-show="$last" href="">
	                <span class="glyphicon glyphicon-plus"></span>
	                Funkció, alkalom hozzáadása 
	            </a>
	        </label>  

	         <label class="control-label col-md-2" ng-show="$index > 0" for="comp_group">
	            <a ng-click="removeRefFunc()" ng-show="$last" href="">
	                <span class="glyphicon glyphicon-minus"></span>
	                Funkció, alkalom eltávolítása
	            </a>
	        </label>
        </div>
 -->
	</div>

	<div 
		ng-repeat="ref_circum in vers.reflect.ref_circum" 
		ng-init="refCircumIn = $index; refBtn = 'ref_circum'">

		<div>

			<h3> 
				Körülmények #{{ refCircumIn +1 }} |

				<ng-include src="'ng/shared/forms/formRefButtons.html'"></ng-include>
			</h3>

		  


		    <label class="control-label col-md-2">
		    	Körülmények
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_circum.name" 
			        placeholder="Körülmények">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Kifejtve
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_circum.desc" 
			        placeholder="Körülmények kifejtve">
			    </input>
		    </div>

		    <label class="control-label col-md-2">
		    	Helye
		    </label>
		    
		    <div class="col-md-10">
		       
		        <input 
			        class="form-control" 
			        type="text" 
			        ng-model="ref_circum.locus" 
			        placeholder="Körülmények helye">
			    </input>
		    </div>

		</div>
<!-- 
		<div class="form-group">
	        <label class="control-label col-md-2" for="comp_group">
	            <a ng-click="addRefcircum()" ng-show="$last" href="">
	                <span class="glyphicon glyphicon-plus"></span>
	                Körülmények hozzáadása 
	            </a>
	        </label>  

	         <label class="control-label col-md-2" ng-show="$index > 0" for="comp_group">
	            <a ng-click="removeRefcircum()" ng-show="$last" href="">
	                <span class="glyphicon glyphicon-minus"></span>
	                Körülmények eltávolítása
	            </a>
	        </label>
        </div>
 -->
	</div>

</div>

