<div class="form-group">

    <label class="control-label col-md-3">
        Hagyományos műfaji megnevezés
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.trad_genre" 
            placeholder="Hagyományos műfaji megnevezés">
        </input>
    </div>
</div>
    
<h3>Exemplum, közhely, toposz</h3>

<h4>Exemplum</h4>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.exemplum.desc" 
            placeholder="Exemplum kifejtve">
        </input>
    </div>

    <div class="form-inline">

        <label class="control-label col-md-3" ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.exemplum.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        
        <label class="control-label col-md-3" ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
            <input 
                class="form-control"
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.exemplum.locus.l" 
                placeholder="Sor">
            </input>
        </div>
    </div>
   

</div> 

<h4>Közhely</h4>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.commonplace.desc" 
            placeholder="Közhely kifejtve">
        </input>
    </div>
    
    
    <div class="form-inline">

        <label class="control-label col-md-3"
        ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.commonplace.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        

        <label class="control-label col-md-3" ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control" 
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.commonplace.locus.l" 
                placeholder="Sor">
            </input>
        </div>
        
    </div>


</div>

<h4>Toposz</h4>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.topos.desc" 
            placeholder="Toposz kifejtve">
        </input>
    </div>
    
     <div class="form-inline">

        <label class="control-label col-md-3"
        ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.topos.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        

        <label class="control-label col-md-3" ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control" 
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.topos.locus.l" 
                placeholder="Sor">
            </input>
        </div>
        
    </div>

</div>

<h3>Intertextualitás</h3>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.interttext.desc" 
            placeholder="Intertextualitás kifejtve">
        </input>
    </div>
    
     <div class="form-inline">

        <label class="control-label col-md-3"
        ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.interttext.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        

        <label class="control-label col-md-3"    ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control" 
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.interttext.locus.l" 
                placeholder="Sor">
            </input>
        </div>
        
    </div>

</div>

<h3>Kommunikációs műveletek</h3>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.communicate.desc" 
            placeholder="Kommunikációs műveletek kifejtve">
        </input>
    </div>
    
    <div class="form-inline">

        <label class="control-label col-md-3"
        ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.communicate.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        

        <label class="control-label col-md-3" ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control" 
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.communicate.locus.l" 
                placeholder="Sor">
            </input>
        </div>
        
    </div>

</div>

<h3>Retorikai eszközök</h3>

<h4>Figura</h4>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.figure.desc" 
            placeholder="Figura kifejtve">
        </input>
    </div>
    

     <div class="form-inline">

        <label class="control-label col-md-3"
        ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.figure.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        

        <label class="control-label col-md-3"  ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control" 
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.figure.locus.l" 
                placeholder="Sor">
            </input>
        </div>
        
    </div>        


</div> 

<h4>Trópus</h4>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.trope.desc" 
            placeholder="Trópus kifejtve">
        </input>
    </div>
    
    
    <div class="form-inline">

        <label class="control-label col-md-3"
        ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.trope.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        

        <label class="control-label col-md-3" ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control" 
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.trope.locus.l" 
                placeholder="Sor">
            </input>
        </div>
        
    </div> 


</div>

<h4>Egyéb retorikai eszközök</h4>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.comm_ret.desc" 
            placeholder="Kommunikációs retorikai eszközök kifejtve">
        </input>
    </div>
    
    <div class="form-inline">

        <label class="control-label col-md-3"
        ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.comm_ret.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        

        <label class="control-label col-md-3" ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control" 
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.comm_ret.locus.l" 
                placeholder="Sor">
            </input>
        </div>
        
    </div> 


</div> 

<h3>Téma</h3>

<div class="form-group">
    <label class="control-label col-md-3">
        Kifejtve
    </label>
    
    <div class="col-md-9">
       
        <input 
            class="form-control" 
            type="text" 
            ng-model="vers.theme.desc" 
            placeholder="Téma kifejtve">
        </input>
    </div>
    
   <div class="form-inline">

        <label class="control-label col-md-3"
        ng-hide="textVerse<2">
            Strófa:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control"
                ng-hide="textVerse<2" 
                type="number"
                min="1" 
                max=" {{ textVerse }} "
                ng-model="vers.theme.locus.lg" 
                placeholder="Strófa">
            </input>
        </div>
        

        <label class="control-label col-md-3" ng-hide="textLines<1">
            Sor:
        </label>
        
        <div class="col-md-2">
           
            <input 
                class="form-control" 
                ng-hide="textLines<1"
                type="number"
                min="1" 
                max=" {{ lgLength }} "
                ng-model="vers.theme.locus.l" 
                placeholder="Sor">
            </input>
        </div>
   
</div>
