

<h2>Metrika</h2>

<div class="form-group">


<div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
        <label>
            <input ng-model="metrumChange" type="checkbox"> Metrumváltó
        </label>
    </div>
</div>

<!-- Nem metrumváltó -->

	<!-- Egy összetevő -->
<div class="form-group"  ng-repeat="comp_group in vers.metrum">
	<label  class="control-label col-md-2" for="comp_group">
		Összetevő #{{ $index +1 }}:
	</label>

    <div id="comp" class="col-md-8">
        <select 
            class="form-control"
            ng-model="comp_group.comp.name" >
            
            <option value="" disabled selected>Összetevő</option>
            <option  ng-repeat="select in selectComp" value="{{select}}">{{select}}</option>

        </select>  
    

    <label class="control-label col-md-2" for="comp_type">Fajta (összetevő):</label>

    <div id="comp_type" class="col-md-8">
        <select 
            class="form-control" 
            ng-model="comp_group.comp.comp_type" >
            
            <option value="" disabled selected>Fajta (összetevő)</option>
            <option value="szám">szám</option>
            <option value="tartalom">tartalom</option>

        </select>  
    </div>

       <label 
     	class="control-label col-md-2" 
     	ng-show="comp_group.comp.comp_type=='tartalom'"
     	for="quality">

     	Összetevő (minőség): 
     </label>

    <div 
    	id="quality" 
    	class="col-md-8"
    	ng-show="comp_group.comp.comp_type=='tartalom'">

        <select 
            class="form-control" 
            ng-model="comp_group.comp.quality" >
            
            <option value="" disabled selected>Minőség (összetevő)</option>
            <option value="részleges">részleges</option>
            <option value="teljes">teljes</option>

        </select>  
    </div>

    <label 
        class="control-label col-md-2" 
        ng-show="comp_group.comp.quality=='részleges'"
        for="quality">

        Összetevő (érték):
     </label>

    <div 
        id="value" 
        class="col-md-8"
        ng-show="comp_group.comp.quality=='részleges'">

        <select 
            class="form-control" 
            ng-model="comp_group.comp.rep" >
            
            <option value="" disabled selected>Érték (összetevő)</option>
            <option value="hangérték">hangérték</option>
            <option value="hosszérték">hosszérték</option>
            <option value="szintaxis">szintaxis</option>

        </select>  
    </div>



</div>
    
    <label class="control-label col-md-1" for="comp_group">
	    <a ng-click="addField()" ng-show="$last" href="">
	    	<span class="glyphicon glyphicon-plus"></span>
	    	További
	   	</a>
   	</label>  

    <label class="control-label col-md-1" ng-show="$index > 0" for="comp_group">
	    <a ng-click="removeField()" ng-show="$last" href="">
	    	<span class="glyphicon glyphicon-minus"></span>
	    	Eltávolít
	   	</a>
   	</label>

</div>


<!-- 
  

     <label 
     	class="control-label col-md-2" 
     	ng-show="vers.metrum.comp.comp_type=='tartalom'"
     	for="quality">

     	Összetevő (minőség): 
     </label>

    <div 
    	id="quality" 
    	class="col-md-10"
    	ng-show="vers.metrum.comp.comp_type=='tartalom'">

        <select 
            class="form-control" 
            ng-model="vers.metrum.comp.quality" >
            
            <option value="" disabled selected>Minőség (összetevő)</option>
            <option value="részleges">részleges</option>
            <option value="teljes">teljes</option>

        </select>  
    </div>

	<label 
     	class="control-label col-md-2" 
     	ng-show="vers.metrum.comp.quality=='részleges'"
     	for="quality">

     	Összetevő (érték):
     </label>

    <div 
    	id="value" 
    	class="col-md-10"
    	ng-show="vers.metrum.comp.quality=='részleges'">

        <select 
            class="form-control" 
            ng-model="vers.metrum.comp.rep" >
            
            <option value="" disabled selected>Érték (összetevő)</option>
            <option value="hangérték">hangérték</option>
            <option value="hosszérték">hosszérték</option>
            <option value="szintaxis">szintaxis</option>

        </select>  
    </div>




	<label 
     	class="control-label col-md-2" 
     	for="comp_symbol">

     	Szimbólum:
     </label>

    <div 
    	id="comp_symbol" 
    	class="col-md-10">

        <input 
        	class="form-control" 
        	type="text" 
        	ng-model="vers.metrum.comp.symbol" 
        	placeholder="Szimbólum">
		</input>
    </div>



	<label 
     	class="control-label col-md-2" 
     	for="comp_symbol_type">

     	Szimbólum (érték):
     </label>

    <div 
    	id="comp_symbol_type" 
    	class="col-md-10">

        <select 
            class="form-control" 
            ng-model="vers.metrum.comp.symbol_type" >
            
            <option value="" disabled selected>Érték (szimbólum)</option>
            <option value="sazbály">sazbály</option>
            <option value="tendencia">tendencia</option>

        </select>  
    </div>




	<label 
     	class="control-label col-md-2" 
     	for="comp_limit">

     	Határ
     </label>

    <div 
    	id="comp_limit" 
    	class="col-md-10">

        <select 
            class="form-control" 
            ng-model="vers.metrum.comp.limit" >
            
            <option value="" disabled selected>Határ</option>
            <option ng-repeat="comp in selectComp" value="{{comp}}">{{comp}}</option>

        </select>  
    </div>





	<label 
     	class="control-label col-md-2" 
     	for="comp_limit_type">

     	Határ (érték):
     </label>

    <div 
    	id="comp_limit_type" 
    	class="col-md-10">

        <select 
            class="form-control" 
            ng-model="vers.metrum.comp.limit_type" >
            
            <option value="" disabled selected>Határ (érték)</option>
            <option value="előtte">előtte</option>
            <option value="utána">utána</option>

        </select>  
    </div>





	<label 
     	class="control-label col-md-2" 
     	for="comp_count">

     	Darab:
     </label>

    <div 
    	id="comp_count" 
    	class="col-md-10">

	<input 
		class="form-control" 
		type="number" 
		ng-model="vers.metrum.comp.count" 
		min=0>
	</input>  
    </div>
 -->


<div class="col-md-10">
	<p>vers.metrum: {{ vers.metrum }} </p>
</div>
 


</div>