<div ng-cloack ng-include="'ng/shared/navbar/navView.html'"></div>

<div ng-cloack >

    <div ng-cloack class="page-header col-md-10 col-md-offset-1">
        <h1><big>Feltöltés</big></h1>
        <h2 ng-cloack ng-show="vers.title">Cím: {{vers.title}}
            <small ng-show="vers.inc"> ("{{vers.inc}}")</small>
        </h2>
    </div>


    <div ng-cloack class="col-md-10">

        <form class="form-horizontal" role="form" ng-submit="postVers()">

            <div class="panel panel-default col-md-offset-2">
                <div class="panel-heading">
                    <h2>Textológia</h2>
                </div>

                <div class="panel-body">
                    <ng-include 
                        src="'ng/poem/components/uploader/poemFormUpText.html'">
                    </ng-include>
                </div>
            </div>

             <div class="panel panel-default col-md-offset-2">
                <div class="panel-heading">
                    <h2>Metrika</h2>
                </div>

                <div class="panel-body">
                    <ng-include 
                        src="'ng/poem/components/uploader/poemFormUpMet.html'">
                    </ng-include>
                </div>
            </div>

             <div class="panel panel-default col-md-offset-2">
                <div class="panel-heading">
                    <h2>Műfaji konnotáció</h2>
                </div>

                <div class="panel-body">
                    <ng-include 
                        src="'ng/poem/components/uploader/poemFormUpCon.html'">
                    </ng-include>
                </div>
            </div>

             
             <div class="panel panel-default col-md-offset-2">
                <div class="panel-heading">
                    <h2>Önreflexió</h2>
                </div>

                <div class="panel-body">
                    <ng-include 
                        src="'ng/poem/components/uploader/poemFormUpRef.html'">
                    </ng-include>
                </div>
            </div>

            <div class="col-md-offset-2">

                <ng-include 
                    src="'ng/shared/forms/formButton.html'">
                </ng-include>
                
            </div>
           

        </form>
    </div>
<!-- 
    <div class="" style="margin-top: 50px; margin-bottom: 50px;">
        <label class="control-label col-md-2" for="text">
            <h2>Nyers json</h2>
        </label> 
        <div class=" form-group col-md-10">
            <pre ng-bind="vers | json"></pre>
        </div>
    </div> 
 -->

</div>