<div ng-cloack ng-include="'ng/shared/navbar/navView.html'"></div>

<div ng-cloack >

    <div ng-cloack class="page-header col-md-10 col-md-offset-1">
        <h1><big>Feltöltés</big></h1>
        <h2 ng-cloack ng-show="vers.title">{{vers.title}}
            <small ng-show="vers.inc"> ("{{vers.inc}}")</small>
        </h2>
    </div>


    <div ng-cloack class="col-md-10">

        <form class="form-horizontal" role="form" ng-submit="postVers()">

            <div class="panel panel-default col-md-offset-2">
                <div class="panel-heading"
                    ng-click="showTextPanel = ! showTextPanel">
                    <h2>Textológia</h2>
                </div>

                <div class="panel-body"
                    ng-show="showTextPanel">
                    <ng-include 
                        src="'ng/poem/components/uploader/poemFormUpText.html'">
                    </ng-include>
                </div>
            </div>

             <div class="panel panel-default col-md-offset-2">
                <div class="panel-heading"
                     ng-click="showMetPanel = ! showMetPanel">
                    <h2>Metrika</h2>
                </div>

                <div class="panel-body"
                    ng-show="showMetPanel">
                    <ng-include 
                        src="'ng/poem/components/uploader/poemFormUpMet.html'">
                    </ng-include>
                </div>
            </div>

             <div class="panel panel-default col-md-offset-2">
                <div class="panel-heading"
                     ng-click="showConPanel = ! showConPanel">
                    <h2>Műfaji konnotáció</h2>
                </div>

                <div class="panel-body" 
                    ng-show="showConPanel">
                    <ng-include 
                        src="'ng/poem/components/uploader/poemFormUpCon.html'">
                    </ng-include>
                </div>
            </div>

             
             <div class="panel panel-default col-md-offset-2">
                <div class="panel-heading"
                     ng-click="showRefPanel = ! showRefPanel">
                    <h2>Önreflexió</h2>
                </div>

                <div class="panel-body"
                    id="refPanelBody"
                    ng-show="showRefPanel">
                    <ng-include 
                        src="'ng/poem/components/uploader/poemFormUpRef.html'">
                    </ng-include>
                </div>
            </div>

             <div class="panel panel-default col-md-offset-2" 
                ng-show="loggedInUser.role == 'admin'">
                <div class="panel-heading"
                     ng-click="showJonPanel = ! showJonPanel">
                    <h2>Nyers json</h2>
                </div>

                <div class="panel-body"
                    ng-show="showJonPanel">
                    
                    <pre ng-bind="vers | json"></pre>

                </div>
            </div>

            <div class="col-md-offset-2">
                <ng-include 
                    src="'ng/shared/forms/formButton.html'">
              </ng-include>
                
            </div>

        </form>
    </div>
</div>