<div class="container-fluid" ng-include="'ng/shared/navbar/navView.html'"></div> 

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Felhasználók</h1>
    </div>


<div class="container-fluid">
    
    <div class="row">
        <div class="form-group">

            <div class="col-md-6"> <input type="text" class="form-control" 
                placeholder="Szűrő" ng-model="filter" /> 
            </div>

        </div>
    </div>

    <div class="row">

    	 <div class="col-md-2">
    	 	<a href="" ng-click="predicate = 'nickname'; reverse=!reverse">Felhasználónév
    	 	<span ng-show="predicate == 'nickname'">
                   <span ng-hide="reverse">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                    <span ng-show="reverse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </span>
            </a>
        </div>

    	<div class="col-md-2">
    		<a href="" ng-click="predicate = '_id'; reverse=!reverse">ID
    			<span ng-show="predicate == '_id'">
                   <span ng-hide="reverse">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                    <span ng-show="reverse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </span>
            </a>
        </div>

    	<div class="col-md-2">
    		<a href="" ng-click="predicate = 'role'; reverse=!reverse">Jogosultság
    			<span ng-show="predicate == 'role'">
                   <span ng-hide="reverse">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                    <span ng-show="reverse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </span>
            </a>
        </div>

    	<div class="col-md-2">
    		<a href="" ng-click="predicate = 'created_at'; reverse=!reverse">Létrehozva
    			<span ng-show="predicate == 'created_at'">
                   <span ng-hide="reverse">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                    <span ng-show="reverse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </span>
            </a>
        </div>

    	<div class="col-md-2">
            Törlés
        </div>
    </div>

    
	<div  class="row" ng-repeat="user in data | filter:filter | orderBy:predicate:reverse">

		<div class="col-md-2">
			<a href="#admin/id/{{user._id}}">{{ user.nickname }}</a>
		</div>

		<div class="col-md-2">
			{{ user._id }}
		</div>

		<div class="col-md-2">
			{{ user.role }}
		</div>

		<div class="col-md-2">
			{{ user.created_at | date:"y-MM-dd H:mm:ss" }}
		</div>

		<div  class="col-md-2">
			<button class="btn btn-danger" ng-click="deleteAccount(user._id)" type="button">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>

	</div>

</div>