
<div ng-show=" dateSelectToMenu == 'exact_date'" class="form-group">
	<label 
		class="control-label col-md-4" 
		
		for="exact_date">
			Pontos Dátum:
	</label>
	<div id="exact_date" class="col-md-6">
		<input 
			class="form-control"
			placeholder="Pontos Dátum"
			
		    placeholder="Ponts dátum" 
		    ui-date="dateOptions"
		    ng-model="vers.period.to.exact_date" > 
		</input> 
	</div>
</div>

<div 
	ng-show=" dateSelectToMenu == 'year' || dateSelectToMenu == 'year-month'" 
	class="form-group">
	 <label 
	 	class="control-label col-md-4" 
	 	
	 	for="year">
	 		Év:
	 </label>

	 <div id="year" class="col-md-6">
		 <input
		 	class="form-control"
		 	placeholder="Év"
		 
		    placeholder="Év" 
		    type="number"
		    min="1600" max="1800" 
		    ng-model="vers.period.to.year" > 
		</input>
	</div>
</div>

<div ng-show=" dateSelectToMenu == 'month' || dateSelectToMenu == 'year-month'" class="form-group">
	 <label 
	 	class="control-label col-md-4" 
	 	
	 	for="year">
	 		Hónap:
	 </label>

	<div id="year" class="col-md-6">
	 	<select 
	 		class="form-control"
		 	
		    type="text"
		    ng-model="vers.period.to.month"
		    ng-options="select as month for month in months" >
	        	<option value="" disabled selected>-- Hónap --</option>
		</select>
	</div>
</div>


<div ng-show=" dateSelectToMenu == 'cent'"  	  class="form-group">
	<label
		class="control-label col-md-4" 
		
		for="month" >
			Század
	</label>

	<div id="cent" class="col-md-6">
		<input 
			class="form-control"
			
		    placeholder="Század" 
		    type="number"
		    min="17" max="19" 
		    ng-model="vers.period.to.cent" > 
		</input>  
	</div>
</div>

<div ng-show=" dateSelectToMenu == 'fest'"   class="form-group">
	<label
		class="control-label col-md-4" 
			 
		for="fest" >
			Ünnep
	</label>

	<div id="fest" class="col-md-6">
		<input 
			class="form-control"
			
		    placeholder="Ünnep" 
		    type="text"
		    ng-model="vers.period.to.fest" > 
		</input> 
	</div>
</div>

<div 
	ng-hide="dateSelectToMenu == 'exact_date' || dateSelectToMenu == 'period'"  
	class="form-group">
	
	 <div class="col-sm-offset-4 col-sm-6">
		<div class="checkbox">
	        <label class="control-label col-md-2" >
	            <input 
	                value="true" 
	                ng-model="dateSelectApprox"
	                type="checkbox"> 

	                Kiegészítés: 
	            </input>
	        </label>
	    </div>
	</div>
</div>


<div ng-show="dateSelectApprox"  class="form-group">
	<label
		class="control-label col-md-4" 
		
		for="approx" >
			Megjegyzés
	</label>

	<div id="approx" class="col-md-6">
		<input 
			class="form-control"
			
		    placeholder="Megjegyzés" 
		    type="text"
		    ng-model="vers.period.to.approx" > 
		</input> 
	</div>
</div>

