<div ng-cloack ng-include="'ng/shared/navbar/navView.html'"></div>

<div ng-cloack class="page-header col-md-10 col-md-offset-1">
    <h1 ng-cloack ng-show="vers.title">
        <big><strong>RMVA: {{vers.rmva | fillZero:5 }}</strong></big> <br>
        <big>{{vers.title}}</big> <br>
        <small ng-show="vers.inc"> ("{{vers.inc}}")</small>
    </h1>
</div>

<!-- TEXTOLOGY -->

<div class="viewCol">

    <ul ng-cloack class="list-group col-md-5 col-md-offset-1">

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Cím: </h4>
            <span class="list-group-item-text"> 
               {{ vers.title }}
            </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Incipit:</h4>
            <span class="list-group-item-text"> {{ vers.inc }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Szerző:</h4>
            <span class="list-group-item-text"> 
                {{ vers.auth_role_name }} {{ vers.auth_surname }} {{ vers.auth_add_name }} {{ vers.auth_forename }} 
            </span>
        </li>


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Argumentum:</h4>
            <span class="list-group-item-text"> {{ vers.arg }} </span>
        </li>


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Nótajelzés:</h4>
            <span class="list-group-item-text"> {{ vers.adnotam }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Akrosztichon:</h4>
            <span class="list-group-item-text"> {{ vers.acro }} </span>
            <span> ({{ acroInt }}) </span>
        </li>
        
        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Kronosztichon:</h4>
            <span class="list-group-item-text"> {{ vers.chrono }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Élőfej:</h4>
            <span class="list-group-item-text"> {{ vers.head }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Szignáltság:</h4>
            <span class="list-group-item-text"> 
                {{ vers.signo_role_name }} 
                {{ vers.signo_surname }} 
                {{ vers.signo_add_name }} 
                {{ vers.signo_forename }} 
                <span ng-show="vers.signo_type">
                    ({{ vers.signo_type }})
                </span> 
            </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Terjedelem:</h4>
            <span class="list-group-item-text"> 
                {{ vers.length }} 
                <span ng-show="vers.length_unit0">
                    ({{ vers.length_unit }})
                </span>         
            </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Kolofón:</h4>
            <span class="list-group-item-text"> {{ vers.col }} </span>
        </li>

        <li class="list-group-item"
            ng-if="child == 'single'"
            ng-switch="grandChild">

            <h4 class="list-group-item-heading"> Dátum: </h4>

            <span class="list-group-item-text"
                ng-switch-when="exact_date" > 
                {{ dateObj | date: "y-MM-dd" }} 
            </span>

            <span class="list-group-item-text"
                ng-switch-when="only_year" > 
                {{ dateObj }} 
            </span>

            <span class="list-group-item-text"
                ng-switch-when="year_month" > 
                {{ dateObj.year }}, {{ dateObj.month }} 
            </span>

            <span class="list-group-item-text" 
                ng-switch-when="only_cent" > 
                {{ dateObj }}. század 
            </span>

            <span class="list-group-item-text" 
                ng-switch-when="only_cent" > 
                {{ dateObj }}. század 
            </span>

            <span ng-show="vers.date[child][grandChild].approx" > 
                ({{ vers.date[child][grandChild].approx }})
            </span>

        </li>


        <li class="list-group-item"
            ng-if="child == 'period'">

            <h4 class="list-group-item-heading"> Dátum: </h4>

            <div class="date_period" ng-switch="grandChildFrom" >

                <span class="list-group-item-text"
                    ng-switch-when="exact_date" > 
                    {{ dateObjFrom | date: "y-MM-dd" }} 
                </span>

                <span class="list-group-item-text"
                    ng-switch-when="only_year" > 
                    {{ dateObjFrom }} 
                </span>

                <span class="list-group-item-text"
                    ng-switch-when="year_month" > 
                    {{ dateObjFrom.year }}, {{ dateObj.month }} 
                </span>

                <span class="list-group-item-text" 
                    ng-switch-when="only_cent" > 
                    {{ dateObjFrom }}. század 
                </span>

                <span class="list-group-item-text" 
                    ng-switch-when="only_cent" > 
                    {{ dateObjFrom }}. század 
                </span>

                <span ng-show="vers.date[child].from[grandChildFrom].approx" > 
                    ({{ vers.date[child].from[grandChildFrom].approx }})
                </span>
                
            </div>

            <span> &#8212; </span>

            <div class="date_period" ng-switch="grandChildTo" >
                
                <span class="list-group-item-text"
                    ng-switch-when="exact_date" > 
                    {{ dateObjTo | date: "y-MM-dd" }} 
                </span>

                <span class="list-group-item-text"
                    ng-switch-when="only_year" > 
                    {{ dateObjTo }} 
                </span>

                <span class="list-group-item-text"
                    ng-switch-when="year_month" > 
                    {{ dateObjTo.year }}, {{ dateObj.month }} 
                </span>

                <span class="list-group-item-text" 
                    ng-switch-when="only_cent" > 
                    {{ dateObjTo }}. század 
                </span>

                <span class="list-group-item-text" 
                    ng-switch-when="only_cent" > 
                    {{ dateObjTo }}. század 
                </span>

                <span ng-show="vers.date[child].to[grandChildTo].approx" > 
                    ({{ vers.date[child].to[grandChildTo].approx }})
                </span>
            </div>
        </li>


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Datálás:</h4>
            <span class="list-group-item-text"> {{ vers.date_info }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Hely:</h4>
            <span class="list-group-item-text"> 
                {{ vers.place }} 
                <span ng-show="vers.place_info" > 
                    ({{ vers.place_info }}) 
                </span>     
            </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Felekezet:</h4>
            <span class="list-group-item-text"> {{ vers.conf }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Forrás:</h4>
            <span class="list-group-item-text"> {{ vers.source }} </span>
        </li>


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Kapcsolat más szövegekkel:</h4>
            <span class="list-group-item-text"> 

                <ul ng-repeat="link in vers.link_coll">
                    <li> 
                        <a href="#view/id/{{ link | fillZero:5 }}"> 
                            {{ link | fillZero:5 }} 
                        </a> 
                    </li>
                </ul>

            </span>
        </li>

<!-- 
        <li class="list-group-item">
            <pre ng-bind="vers | json"></pre>
        </li>
 -->
    </ul>

</div>

<div class="viewCol">

    <ul ng-cloack class="list-group col-md-5 ">

        <li class="list-group-item">
            <div class="list-group-item-text">
                <ol>
                    <li ng-repeat="lg in vers.text"
                        ng-init="lgIndex = $index +1">
                        <ul class="l" 
                            ng-repeat="l in lg"
                            ng-init="lIndex = $index +1">
                            <li> 
                                <span
                                    ng-class="{'selected': H == lgIndex + '_' + lIndex }"
                                    ng-attr-id="{{ lgIndex }}_{{ lIndex }}"> 
                                    {{ l }}
                                </span> 
                            </li>
                        </ul> <br>
                    </li>
                </ol>
            </div>
        </li>
    </ul>
</div>

<!-- METRUM -->

<div>
    <ul ng-cloack class="list-group col-md-10 col-md-offset-1 ">
        <li class="list-group-item">
             <pre ng-bind="vers.metrum | json"></pre>
        </li>
    </ul>
</div>

<div>
    <ul ng-cloack class="list-group col-md-5 col-md-offset-1 ">

       <li class="list-group-item">
            <div class="list-group-item-text"> 
               
               <table class="table table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>Műfaji reflexió</th>
                            <th>Kifejtve</th>
                            <th>Helye</th>
                        </tr>
                    </thead>

                        <tr ng-cloack class="list-group" 
                            ng-repeat="ref_genre in vers.reflect.ref_genre"
                            ng-init="lg = ref_genre.locus.lg; l = ref_genre.locus.l">
                            
                            <td> {{ ref_genre.name }}  </td>

                            <td> {{ ref_genre.desc }}  </td>

                            <td>
                                <a ng-click="toggle = !toggle; goToLine(lg, l)"
                                    ng-hide=" !ref_genre.locus.lg && !ref_genre.locus.l " 
                                    href="">
                                    {{ ref_genre.locus.lg }}. strófa
                                    {{ ref_genre.locus.l }}. sor
                                </a>
                            </td>

                        </tr>                   
               </table>
               
            </div>
        </li>

       <li class="list-group-item">
            <div class="list-group-item-text"> 
               
               <table class="table table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>Befogadás</th>
                            <th>Kifejtve</th>
                            <th>Helye</th>
                        </tr>
                    </thead>

                        <tr ng-cloack class="list-group" 
                            ng-repeat="ref_input in vers.reflect.ref_input"
                            ng-init="lg = ref_input.locus.lg; l = ref_input.locus.l">
                            
                            <td> {{ ref_input.name }}  </td>

                            <td> {{ ref_input.desc }}  </td>

                            <td>
                                <a ng-click="toggle = !toggle; goToLine(lg, l)"
                                    ng-hide=" !ref_input.locus.lg && !ref_input.locus.l " 
                                    href="">
                                    {{ ref_input.locus.lg }}. strófa
                                    {{ ref_input.locus.l }}. sor
                                </a>
                            </td>

                        </tr>                   
               </table>

            </div>
        </li>

       <li class="list-group-item">
            <div class="list-group-item-text"> 
               
               <table class="table table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>Szereztetés, szerkesztés </th>
                            <th>Kifejtve</th>
                            <th>Helye</th>
                        </tr>
                    </thead>

                        <tr ng-cloack class="list-group" 
                            ng-repeat="ref_edit in vers.reflect.ref_edit"
                            ng-init="lg = ref_edit.locus.lg; l = ref_edit.locus.l">
                            
                            <td> {{ ref_edit.name }}  </td>

                            <td> {{ ref_edit.desc }}  </td>

                            <td>
                                <a ng-click="toggle = !toggle; goToLine(lg, l)" 
                                    ng-hide=" !ref_edit.locus.lg && !ref_edit.locus.l "
                                    href="">
                                    {{ ref_edit.locus.lg }}. strófa
                                    {{ ref_edit.locus.l }}. sor
                                </a>
                            </td>

                        </tr>                   
               </table>

            </div>
        </li>

       <li class="list-group-item">
            <div class="list-group-item-text"> 
               
               <table class="table table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>Körülmények</th>
                            <th>Kifejtve</th>
                            <th>Helye</th>
                        </tr>
                    </thead>

                        <tr ng-cloack class="list-group" 
                            ng-repeat="ref_circum in vers.reflect.ref_circum"
                            ng-init="lg = ref_circum.locus.lg; l = ref_circum.locus.l">
                            
                            <td> {{ ref_circum.name }}  </td>

                            <td> {{ ref_circum.desc }}  </td>

                            <td>
                                <a ng-click="toggle = !toggle; goToLine(lg, l)" 
                                    ng-hide=" !ref_circum.locus.lg && !ref_circum.locus.l "
                                    href="">
                                    {{ ref_circum.locus.lg }}. strófa
                                    {{ ref_circum.locus.l }}. sor
                                </a>
                            </td>

                        </tr>                   
               </table>

            </div>
        </li>
       <li class="list-group-item">
            <div class="list-group-item-text"> 
               
               <table class="table table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>Funkció, alkalom </th>
                            <th>Kifejtve</th>
                            <th>Helye</th>
                        </tr>
                    </thead>

                        <tr ng-cloack class="list-group" 
                            ng-repeat="ref_func in vers.reflect.ref_func"
                            ng-init="lg = ref_func.locus.lg; l = ref_func.locus.l">
                            
                            <td> {{ ref_func.name }}  </td>

                            <td> {{ ref_func.desc }}  </td>

                            <td>
                                <a ng-click="toggle = !toggle; goToLine(lg, l)" 
                                    ng-hide=" !ref_func.locus.lg && !ref_func.locus.l "
                                    href="">
                                    {{ ref_func.locus.lg }}. strófa
                                    {{ ref_func.locus.l }}. sor
                                </a>
                            </td>

                        </tr>                   
               </table>

            </div>
        </li>

    </ul>
</div>


<!-- 


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> :</h4>
            <span class="list-group-item-text"> {{ vers. }} </span>
        </li>


 -->


<!-- 

var reflectDescObj = {
    name: String,
    desc: String,
    locus: {
        lg: Number,
        l:  Number
    }
};

var reflectionObj = {

    ref_genre:  [reflectDescObj],
    ref_input:  [reflectDescObj],
    ref_edit:   [reflectDescObj],
    ref_func:   [reflectDescObj],
    ref_circum: [reflectDescObj]

};

  reflect: reflectionObj 

-->