<div ng-cloack ng-include="'ng/shared/navbar/navView.html'"></div>

<div ng-cloack class="page-header col-md-10 col-md-offset-1">
    <h1 ng-cloack ng-show="vers.title">
        <big>{{vers.title}}</big> <br>
        <small ng-show="vers.inc"> ("{{vers.inc}}")</small>
    </h1>
</div>

<div>

    <ul ng-cloack class="list-group col-md-4 col-md-offset-1">

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Cím: </h4>
            <span class="list-group-item-text"> 
               {{ vers.title }}
            </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Incipit:</h4>
            <span class="list-group-item-text"> {{ vers.inc }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Szerző:</h4>
            <span class="list-group-item-text"> 
                {{ vers.auth_role_name }} {{ vers.auth_surname }} {{ vers.auth_add_name }} {{ vers.auth_forename }} 
            </span>
        </li>


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Argumentum:</h4>
            <span class="list-group-item-text"> {{ vers.arg }} </span>
        </li>


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Nótajelzés:</h4>
            <span class="list-group-item-text"> {{ vers.adnotam }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Akrosztichon:</h4>
            <span class="list-group-item-text"> {{ vers.acro }} </span>
            <span> ({{ acroInt }}) </span>
        </li>
        
        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Kronosztichon:</h4>
            <span class="list-group-item-text"> {{ vers.chrono }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Élőfej:</h4>
            <span class="list-group-item-text"> {{ vers.head }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Szignáltság:</h4>
            <span class="list-group-item-text"> 
                {{ vers.signo_role_name }} 
                {{ vers.signo_surname }} 
                {{ vers.signo_add_name }} 
                {{ vers.signo_forename }} 
                ({{ vers.signo_type }}) 
            </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Terjedelem:</h4>
            <span class="list-group-item-text"> 
                {{ vers.length }} ({{ vers.length_unit }}) </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Kolofón:</h4>
            <span class="list-group-item-text"> {{ vers.col }} </span>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading"> Datálás:</h4>
            <span class="list-group-item-text"> {{ vers.date | json }} </span>
        </li>


    </ul>

</div>


<!-- 


        <li class="list-group-item">
            <h4 class="list-group-item-heading"> :</h4>
            <span class="list-group-item-text"> {{ vers. }} </span>
        </li>


 -->


<!-- 


 -->