<div class="container-fluid">
    <div ng-include="'ng/shared/navbar/navView.html'"></div> 
</div>


<div class="container-fluid">
    <div class="jumbotron">
        <h1>Részletes leírás  <small> - RMVA {{vers.rmva | fillZero:5}} </small> </h1>

        <h1>Cím: {{vers.title}} <small> ({{vers.date}}) </small> </h1>
     
        <h2>Incipit: {{vers.inc}}   </h2>

        <h3>Létrehozva: {{vers.created_at | date:"y-MM-d H:m:s"}} </h3>
    </div>

    <div> 
        Szerző: 
            {{vers.auth_role_name}} 
            {{vers.auth_surname}} 
            {{vers.auth_add_name}} 
            {{vers.auth_forename}} 
    </div> 

    <div> Argumentum: {{vers.arg}} </div> 
    <div> Nótajelzés: {{vers.adnotam}} </div> 
    <div> Acrosztichon: {{vers.acro}} </div> 
    <div> Kronosztichon: {{vers.krono}} </div> 
    <div> Élőfej: {{vers.head}} </div> 
    <div> Szignáltság: {{vers.signo}} </div> 
    <div> 
        Szignáló: 
            {{vers.signo_role_name}} 
            {{vers.signo_surname}} 
            {{vers.signo_add_name}} 
            {{vers.signo_forename}} 
    </div> 
    <div> Terjedelem: {{vers.lenght}} </div> 
    <div> Terjedelem mértékegysége: {{vers.lenght_unit}} </div> 
    <div> Kolofón: {{vers.col}} </div> 
    <div> 
        Dátum: {{vers.date}}: {{vers.date_info}} 
    </div> 

    <div> Hely: {{vers.place}}: {{vers.place_info}} </div> 

    <div> Felekezet: {{vers.conf}} </div>
    <div> Forrás: {{vers.source}} </div>
    <div> Szöveg:
        <pre>
            {{vers.text}} 
        </pre> 
    </div> 

    <!-- <div> Képek: {{vers.imgs}} </div>  --> <!-- Temp not av. -->
    
    <div> 
        Kapcsolódások:
        <ul ng-repeat="link in vers.link_coll ">
            <li> 
                <a href="#view/id/{{link | fillZero:5}}"> {{ link | fillZero:5 }} 
                </a> 
            </li>
        </ul>
    </div>  

    <div> 
        Létrehozva: 
            {{vers.created_by}} - {{vers.created_at | date:"y-MM-d H:mm:ss"}} 
    </div>

    <div> 
        Utolsó módosítás: 
            {{vers.mod_by}} - {{vers.last_mod | date:"y-MM-d H:mm:ss"}} 
    </div>
</div>
