<!DOCTYPE html>
<html lang="hu">

    <head>   
        <title><%= title %></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STLYSHEETS -->

        <link rel="stylesheet" type="text/css" href="build/productionStyle.css">

        <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/lib/jquery-ui/themes/smoothness/jquery-ui.min.css"/>

 <body ng-app="versApp" class="container-fluid">

<!-- =============================PARTIAL VIEWS============================= -->

    <div class="container-fluid" ng-view></div> 

<!-- =============================RESOURCES - DEPENDENCIES========================== -->

    <!-- LIBRARIES -->

    <script type="text/javascript" src="build/production.js"></script>

    </body>
</html>
