<!DOCTYPE html>
<html lang="hu">

    <head>   
        <title><%= title %></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STLYSHEETS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" 
            href="assets/lib/jquery-ui/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" 
            href="assets/lib/webfont-notosans/regular/stylesheet.css"> 
        <link rel="stylesheet" type="text/css" 
            href="assets/lib/webfont-notosans/italic/stylesheet.css"> 
        <link rel="stylesheet" type="text/css" 
            href="assets/lib/webfont-notosans/bold/stylesheet.css">
        <link rel="stylesheet" type="text/css" 
            href="assets/lib/webfont-notosans/bolditalic/stylesheet.css">
        
        <!-- bower:css -->
        <link rel="stylesheet" href="/assets/lib/angucomplete-alt/angucomplete-alt.css" />
        <link rel="stylesheet" href="/assets/lib/angular-material/angular-material.css" />
        <link rel="stylesheet" href="/assets/lib/angular-ui-select/dist/select.css" />
        <!-- endbower -->


 <body ng-app="versApp" class="container-fluid">

<!-- =============================PARTIAL VIEWS============================= -->

    <div class="partials">
        <ng-view ng-cloack class="container-fluid view-animate"></ng-view>
    </div> 

    <div id="footer">
        <div id="footer-content">
            <span >rmva</span>    
        </div> 
    </div>

<!-- =============================RESOURCES - DEPENDENCIES========================== -->

    <!-- LIBRARIES -->

    <!-- bower:js -->
    <script src="/assets/lib/jquery/dist/jquery.js"></script>
    <script src="/assets/lib/angular/angular.js"></script>
    <script src="/assets/lib/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="/assets/lib/angular-css/angular-css.js"></script>
    <script src="/assets/lib/angular-animate/angular-animate.js"></script>
    <script src="/assets/lib/angular-aria/angular-aria.js"></script>
    <script src="/assets/lib/angular-material/angular-material.js"></script>
    <script src="/assets/lib/angular-resource/angular-resource.js"></script>
    <script src="/assets/lib/angular-route/angular-route.js"></script>
    <script src="/assets/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="/assets/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/assets/lib/angular-ui-date/src/date.js"></script>
    <script src="/assets/lib/angular-ui-select/dist/select.js"></script>
    <script src="/assets/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- MAIN ANGUALR APP -->
    <script type="text/javascript" src="ng/main.js"></script>

    <!-- ANGULAR CONFIGS -->
    <script type="text/javascript" src="ng/config.js"></script>
    <script type="text/javascript" src="ng/auth/config/authConfig.js"></script>
    <script type="text/javascript" src="ng/poem/config/poemConfig.js"></script>

    <!-- ANGUALR FILTERS -->
    <script type="text/javascript" src="ng/shared/filters.js"></script>

    <!-- ANGUALR DIRECTIVES -->

    <!-- ANGULAR SERVICES -->
    <script type="text/javascript" src="ng/poem/services/poemFactory.js"></script>
    <script type="text/javascript" src="ng/auth/services/userFactory.js"></script>
    <script type="text/javascript" src="ng/auth/services/signupFactory.js"></script>
    <script type="text/javascript" src="ng/auth/services/userLoggedInFactory.js">
        </script>
    <script type="text/javascript" src="ng/auth/services/profileFactory.js"></script>

    <!-- ANGULAR CONTROLLER FOR NAVBAR // SHARED -->
    <script type="text/javascript" src="ng/shared/navbar/navCtrl.js"></script>

    <!-- ANGULAR CONTROLLERS FOR POEM -->
    <script type="text/javascript" src="ng/poem/components/listing/listingCtrl.js"></script>
    <script type="text/javascript" src="ng/poem/components/viewer/viewerCtrl.js">
        </script>

    <script type="text/javascript" src="ng/poem/components/editor/editorCtrl.js">
        </script>

    <script type="text/javascript" src="ng/shared/geo/geoCtrl.js"></script>

    <script type="text/javascript" 
        src="ng/poem/components/uploader/uploaderCtrl.js">
    </script>

    <script type="text/javascript" 
        src="ng/poem/components/uploader/selectLink/selectLinkUpCtrl.js"></script>

    <script type="text/javascript" 
        src="ng/poem/components/editor/selectLink/selectLinkEditCtrl.js"></script>

    <script type="text/javascript" 
        src="ng/poem/components/uploader/selectDate/selectDateCtrl.js"></script>

    <script type="text/javascript" 
        src="ng/poem/components/uploader/selectDate/selectDateFromCtrl.js"></script>

    <script type="text/javascript" 
        src="ng/poem/components/uploader/selectDate/selectDateToCtrl.js"></script>

    <script type="text/javascript"
        src="ng/poem/components/editor/selectDate/selectDateEditCtrl.js">
    </script>

    <script type="text/javascript"
        src="ng/poem/components/editor/selectDate/selectDateFromEditCtrl.js">
    </script>

    <script type="text/javascript"
        src="ng/poem/components/editor/selectDate/selectDateToEditCtrl.js">
    </script>

    <!-- ANGULAR CONTROLLERS FOR AUTH -->
    <script type="text/javascript" src="ng/auth/components/signup/signupCtrl.js"></script>
    <script type="text/javascript" src="ng/auth/components/login/loginCtrl.js"></script>
    <script type="text/javascript" src="ng/auth/components/profile/profileCtrl.js"></script>
    <script type="text/javascript" src="ng/auth/components/users/usersCtrl.js"></script>
    <script type="text/javascript" src="ng/auth/components/users/editUsersCtrl.js"></script>
    <script type="text/javascript" src="ng/auth/components/unauth/unauthCtrl.js"></script>
    <script type="text/javascript" src="ng/auth/components/profile/profileCtrl.js"></script>

    </body>
</html>
