<!DOCTYPE html>
<html lang="hu">

    <head>   
        <title><%= title %></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STLYSHEETS -->
        <link rel="stylesheet" type="text/css" href="build/productionStyle.css">

        <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.min.css">

         <link rel="stylesheet" 
            href="assets/lib/jquery-ui/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" 
            href="assets/lib/webfont-notosans/regular/stylesheet.css"> 
        <link rel="stylesheet" type="text/css" 
            href="assets/lib/webfont-notosans/italic/stylesheet.css"> 
        <link rel="stylesheet" type="text/css" 
            href="assets/lib/webfont-notosans/bold/stylesheet.css">
        <link rel="stylesheet" type="text/css" 
            href="assets/lib/webfont-notosans/bolditalic/stylesheet.css">

        <link rel="stylesheet" 
            href="assets/lib/jquery-ui/themes/smoothness/jquery-ui.min.css"/>

 <body ng-app="versApp" class="container-fluid">

<!-- =============================PARTIAL VIEWS============================= -->

    <div class="partials">
        <ng-view ng-cloack class="container-fluid view-animate"></ng-view>
    </div> 

    <div id="footer">
        <div id="footer-content">
            <span >rmva</span>    
        </div> 
    </div>

<!-- =============================RESOURCES - DEPENDENCIES========================== -->

    <!-- LIBRARIES -->


    <script type="text/javascript" src="build/production.js"></script>

    </body>
</html>
