<!DOCTYPE html>
<html lang="hu">
<html>
    <head>   
        <title><%= title %></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">



<!-- NOT YET  AVAILABLE -->
<!--
*
*       <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
*        <script src="lib/jquery/dist/jquery.min.js"></script>          
*        <script src="lib/angular/angular.min.js"></script>
*        <script src="lib/angular-resource/angular-resource.min.js"></script>
*        <script src="lib/angular-route/angular-route.min.js"></script>
*        <script type="text/javascript" src="js/ng.js"></script>
*    </head>
*  
*    <body ng-app="versApp" class="container-fluid">
*
*
-->

<!-- =============================PARTIAL VIEWS============================= -->

<!--     <div ng-view></div> -->

    <body>

        <h1><%= title %></h1>

    </body>
</html>
