
	<div class="form-group">
		<label class="control-label col-md-4" for="error"></label>
		<div ng-show="message" class="alert alert-danger col-md-4" role="alert"> 
			{{ message }} 
		</div>
	</div>

	<div class="form-group">
	    <label class="control-label col-md-4" for="username">Felhasználónév:</label>
	    <div class="col-md-4">
	        <input name="username" class="form-control" id="username" type="text" 
	        	placeholder="Felhasználónév" ng-model="user.username" required> 
			</input>
	    </div>
	</div>

	<div class="form-group">
	    <label class="control-label col-md-4" for="password">Jelszó:</label>
	    <div class="col-md-4">
	        <input name="password" class="form-control" id="password" type="password" 
	        	placeholder="Jelszó" ng-model="user.password" required> 
			</input>
	    </div>
	</div>

