body{ 
    padding: 70px 0px 0px 0px !important;
    font-family: 'Noto Sans' sans-serif !important;
}

.jumbotron{
    background: #18314f !important;
    color: #eff1f3 !important;
}

ul {
    list-style-type: disc !important;
}

#nav_btn{ line-height:20px }

.navbar-inverse{
    background-color: #08121D !important;
}

#userNav{ float: right }

.textMod{ display: inline-block }

#textLines{ 
	border: 1px solid black;
}

.selected {
    font-weight: bold !important;
    color: #08121d !important;
}

.form-inline .form-control{
    width: 100% !important;
}

.badge-info{
    background-color: #337AB7 !important;
}

#footer{
    display: table;
    width: 100%;
    height: 250px;
    margin-top: 150px;
    background-color: #08121D;
    color: #949494;
    text-align: center;
    vertical-align: middle;
}

#footer-content{
    display: table-cell;
    vertical-align: middle;
}

.partials{
    padding: 0px 50px 0px 50px;
}

.panel-heading{
    background-color: #18314f !important;
    color: #eff1f3 !important;
}

#refPanelBody{
    padding: 30px !important;
}

.list-filter{
    margin-bottom: 30px;
}

.list-filter input {
    padding-left: 30px;    
}

.list-filter span{
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.centered-col{
    text-align: center;
}

#listTable tr:hover{
    background-color: #eff1f3 !important;
}

::-moz-selection { 
    background-color: #4f7cac !important;
    color: #eff1f3 !important;
}
::selection { 
    background-color: #4f7cac !important;
    color: #eff1f3 !important;
}

.date_period {
    display: inline;
}

.viewCol {
    display: inline !important;
}

.l {
    list-style-type: none !important;
}

.list-group-item-heading {
    color: #18314f !important;
}

.head-row {
    color: #18314f !important;
}

.fixed-width {
    width: 200px !important;
}

.rmva-view-label {
    color: #18314f !important;
    font-size: 64px;
    font-weight: bold;
}

#rmva-view-text {
    color: #18314f !important;
    font-size: 64px;
    font-weight: bold; 
}

.rmva-view-head {
    padding-bottom: 1em;
}

#right-col ul {
    padding: 0px 0px 0px 15px !important;
}

#rmva-view-small {
    color: #18314f !important;
    font-size: 48px;
    font-weight: bold; 
}

/* Coolors Exported Palette - coolors.co/08121d-18314f-124e78-4f7cac-eff1f3 */

/*
*    $color1: #08121d; //rgba(8, 18, 29, 100)
*    $color2: #18314f; //rgba(24, 49, 79, 100)
*    $color3: #124e78; //rgba(18, 78, 120, 100)
*    $color4: #4f7cac; //rgba(79, 124, 172, 100)
*    $color5: #eff1f3; //rgba(239, 241, 243, 100)
*/