body{ 
    padding-top: 70px;
    font-family: 'Noto Sans' sans-serif !important;
}

#nav_btn{ line-height:20px }

/*.error{color: #8B0000;}*/

#userNav{ float: right }

.textMod{ display: inline-block }
#textLines{ 
	border: 1px solid black;
}

.formBtn{ 
	margin-top: 50px;
}

.selected {
    font-weight: bold;
    color: #00005C;
}

.form-inline .form-control{
    width: 100% !important;
}