<div class="container-fluid" ng-include="'ng/shared/navView.html'"></div> 

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Bejelentkezés  
       <!--  	<small class="error">  
        		<span ng-show="message" class="glyphicon glyphicon-exclamation-sign"></span>
        		{{ message }}  
        	</small>  -->
        </h1>

    </div>

<form class="form-horizontal" role="form" ng-submit="login()" > 
	<div ng-include src="'ng/shared/userForm.html'"></div>

		<div class="form-group">
		    <div  class="col-md-6 col-md-offset-4">
		        <input class="btn btn-success" type="submit" value="Bejelentkezés"> </input> 
		    </div>
		</div>

</form>