<div id="unauth">

	<div class="jumbotron">
		<h1 class="text-center">
			Az oldal eléréséhez be kell jelentkezni!
		</h1>
	</div>

	<div class="btn-group btn-group-justified" role="group">

		 <div class="btn-group" role="group">
		   <!--  <button type="button" class="btn btn-default">Left</button> -->
		    <a class="btn btn-primary btn-lg"  href="#signup">
	            <span class="glyphicon glyphicon-pencil"></span>
	        	Regisztráció
	        </a>
		 </div>	

		 <div class="btn-group" role="group">
		   <!--  <button type="button" class="btn btn-default">Left</button> -->
		     <a class="btn btn-success btn-lg"  
	            href="#login">
	            <span class="glyphicon glyphicon-log-in" ></span>
	            Bejelentkezés
	        </a>
		 </div>	

	</div>
</div>
