<div class="container-fluid" ng-include="'ng/shared/navbar/navView.html'"></div> 

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Szerkesztő  <small> - RMVA {{vers.rmva}} </small> </h1>

        <h1>Cím: {{vers.title}} <small> ({{vers.date}}) </small> </h1>
     
        <h2>Incipit: {{vers.inc}}   </h2>

        <h3>Létrehozva: {{vers.created_at | date:"y-MM-d H:mm:ss"}} </h3>
    </div>


    <form class="form-horizontal" role="form" ng-submit="editVers()">
       <div ng-cloack ng-include="'ng/shared/forms/poemForm.html'"></div>
    </form>
</div>