<div class="form-group">
    <label class="control-label col-md-2" for="inc">Incipit:</label> <!-- TODO: from textarea -->
    <div id="inc" class="col-md-10">
        <input type="text" class="form-control" placeholder="Incipit" ng-model="vers.inc" > </input> 
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="aut_role_name">Szerző előneve:</label>
    <div id="aut_role_name" class="col-md-10">
        <input id="aut_role_name" type="text" class="form-control" placeholder="Szerző előneve" ng-model="vers.auth_role_name" > </input>
    </div>

    <label class="control-label col-md-2" for="auth_surname">Szerző vezetékneve:</label>
    <div id="auth_surname" class="col-md-10">
        <input type="text" class="form-control" placeholder="Szerző vezetékneve" ng-model="vers.auth_surname" > </input>
    </div>

    <label class="control-label col-md-2" for="auth_add_name">Szerző középső neve:</label>
    <div id="auth_add_name" class="col-md-10">
        <input type="text" class="form-control" placeholder="Szerző középső neve" ng-model="vers.auth_add_name" > </input>
    </div> 

    <label class="control-label col-md-2" for="auth_forename">Szerző keresztneve:</label>
    <div id="auth_forename" class="col-md-10">
        <input type="text" class="form-control" placeholder="Szerző keresztneve" ng-model="vers.auth_forename" > </input>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="title">Cím:</label>
    <div id="title" class="col-md-10">
        <input type="text" class="form-control" placeholder="Cím" ng-model="vers.title" > </input>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="arg">Argumentum:</label>
    <div id="arg" class="col-md-10">
        <input type="text" class="form-control" placeholder="Argumentum" ng-model="vers.arg" > </input> 
    </div> 
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="adnotam">Nótajelzés:</label>
    <div id="adnotam" class="col-md-10">
        <input type="text" class="form-control" placeholder="Nótajelzés" ng-model="vers.adnotam" > </input>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="acro">Akrosztichon:</label>
    <div id="acro" class="col-md-10">
        <input type="text" class="form-control" placeholder="Akrosztichon" ng-model="vers.acro" > </input>  
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label>
                <input ng-model="vers.acro_int" type="checkbox"> Akrosztichon integráns
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="krono">Kronosztichon:</label>
    <div id="krono" class="col-md-10">
        <input type="text" class="form-control" placeholder="Kronosztichon" ng-model="vers.krono" > </input>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="head">Élőfej:</label>
    <div id="head" class="col-md-10">
        <input type="text" class="form-control" placeholder="Élőfej" ng-model="vers.head" > </input> 
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="signo_type">Szignáltság:</label>
    <div id="signo_type" class="col-md-10">
        <select class="form-control" placeholder="Szignáltság"  ng-model="vers.signo_type" >
            <option value="" disabled selected>Szignáltság</option> 
            <option>kötet szinten szignált</option>
            <option>szerzőnévvel szignált</option> <!-- get from author name field ! -->
            <option>monogrammal</option>
            <option>akrosztichonban</option>
            <option>kolofónban</option>
            <option>margináliában</option>
        </select>
    </div>

    <label class="control-label col-md-2" for="signo_role_name">Szig. előneve:</label>
    <div id="signo_role_name" class="col-md-10">
        <input type="text" class="form-control" placeholder="Szig. előneve" ng-model="vers.signo_role_name">
        </input>  
    </div>

    <label class="control-label col-md-2" for="signo_surname">Szig. vezetékneve:</label>
    <div id="signo_surname" class="col-md-10">
        <input type="text" class="form-control" placeholder="Szig. vezetékneve" ng-model="vers.signo_surname"> 
        </input>
    </div>

    <label class="control-label col-md-2" for="signo_add_name">Szig. középső neve:</label>
    <div id="signo_add_name" class="col-md-10">
        <input type="text" class="form-control" placeholder="Szig. középső neve" ng-model="vers.signo_add_name" > 
    </input>
    </div>

    <label class="control-label col-md-2" for="signo_forename">Szig. keresztneve:</label>
    <div id="signo_forename" class="col-md-10">
        <input type="text" class="form-control" placeholder="Szig. keresztneve" ng-model="vers.signo_forename" >
        </input> 
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="lenght">Terjedelem:</label>
    <div id="lenght" class="col-md-10">
        <input class="form-control" type="number" placeholder="Terjedelem" ng-model="vers.lenght" > </input>  <!-- number -->
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="lenght_unit">Mértékegység:</label>
    <div id="lenght_unit" class="col-md-10">
        <select class="form-control" ng-model="vers.lenght_unit" > <!-- use later in metrics -->
            <option value="" disabled selected>Mértékegység</option> 
            <option>sor</option>
            <option>strófa</option>
            <option>szótag</option>
            <option>hexameter</option>
            <option>disztichon</option>
            <option>nótajelzésként</option>
        </select>  <!-- multiple -->
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="col">Kolofón:</label>
    <div id="col" class="col-md-10">
        <input type="text" class="form-control" placeholder="Kolofón" ng-model="vers.col" > </input>  
    </div>
</div>


<div class="form-group">
    <label class="control-label col-md-2" for="col">Dátum megadása:</label>

    <div id="selectDate" class="col-md-10">
        <select class="form-control"  
                ng-model="selectDate">

            <option value="" isabled selected >-- Dátum megadása --</option>
            <option value="single">Egyszerű dátum</option>
            <option value="period">Időszak</option>
        </select>
    </div>
</div>

<div ng-show="selectDate == 'single'" ng-controller="selectDateEditCtrl" >

    <div class="form-group">

        <label class="control-label col-md-2" for="date">Dátum leírása:</label>

        <div id="selectDateMenu" class="col-md-10">
            <select 
                class="form-control" 
                ng-click="select()" 
                ng-model="selectDateMenu">

                    <option value="" disabled selected>Dátum Leírása</option>
                    <option value="exact_date">Pontos dátum</option>
                    <option value="year">Év</option>
                    <option value="year-month">Év - hónap</option>
                    <!-- <option value="month">Hónap</option> -->
                    <option value="cent">Század</option>
                    <option value="fest">Ünnep</option>
                    <!-- <option value="period">Időszak</option> -->
             </select>

             <ng-include 
                src="'ng/poem/components/uploader/selectDate/selectDateView.html'">
            </ng-include>


            <p> vers.date.single: {{ vers.date.single }} </p>
            <p> vers.date.period: {{ vers.date.period }} </p>

        </div>
    </div>
</div>

<div ng-controller="selectDateFromEditCtrl" >

    <div ng-show="selectDate == 'period'"  class="form-group">
        <label class="control-label col-md-3" for="period">Időszak:</label>

        <div id="period" class="col-md-12"> 

            <div class="form-group">

                <label class="control-label col-md-4" for="date">Kezdő dátum:</label>

                <div id="selectDateFromMenu" class="col-md-8">
                    <select 
                        class="form-control" 
                        ng-click="selectFrom()" 
                        ng-model="selectDateFromMenu">

                            <option value="" disabled selected>Dátum Leírása</option>
                            <option value="exact_date">Pontos dátum</option>
                            <option value="year">Év</option>
                            <option value="year-month">Év - hónap</option>
                            <!-- <option value="month">Hónap</option> -->
                            <option value="cent">Század</option>
                            <option value="fest">Ünnep</option>
                     </select>
                </div>
            </div>

             <ng-include 
                src="'ng/poem/components/uploader/selectDate/selectDateFromView.html'">
            </ng-include>
        </div>
    </div>
</div>



<div ng-controller="selectDateToEditCtrl" >

        <div class="col-md-12" ng-show="selectDate == 'period'" id="period" > 

            <div class="form-group">

                <label class="control-label col-md-4" for="date">Záró dátum:</label>

                <div id="selectDateToMenu" class="col-md-8">
                    <select 
                        class="form-control" 
                        ng-click="selectTo()" 
                        ng-model="selectDateToMenu">

                            <option value="" disabled selected>Dátum Leírása</option>
                            <option value="exact_date">Pontos dátum</option>
                            <option value="year">Év</option>
                            <option value="year-month">Év - hónap</option>
                            <!-- <option value="month">Hónap</option> -->
                            <option value="cent">Század</option>
                            <option value="fest">Ünnep</option>
                     </select>
                </div>
            </div>

             <ng-include 
                src="'ng/poem/components/uploader/selectDate/selectDateToView.html'">
            </ng-include>

        <!--     <p> vers.date.single: {{ vers.date.single }} </p>
            <p> vers.date.period: {{ vers.date.period }} </p> -->
        </div>
    </div>
</div>



    <div class="form-group">
        <label class="control-label col-md-2" for="date_info">Datálás:</label>
        <div id="date_info" class="col-md-10">
            <select class="form-control" type="" placeholder="" ng-model="vers.date_info" >
                <option value="" disabled selected>Datálás</option> 
                <option>akrosztichon</option>
                <option>kolofón</option>
                <option>valaki direkt odaírta</option>
                <option>kronosztichon</option>
            </select> 
        </div>
    </div>

<div class="form-group">
    <label class="control-label col-md-2" for="place">Hely:</label>
    <div id="place" class="col-md-10">
        <input type="text" class="form-control" placeholder="Hely" ng-model="vers.place" > </input>
    </div>  

    <label class="control-label col-md-2" for="place_info">Lokalizálás:</label>
    <div id="place_info" class="col-md-10">
        <select class="form-control" type="" placeholder="" ng-model="vers.place_info" >
            <option value="" disabled selected>Lokalizálás</option>
            <option>akrosztichon</option>
            <option>kolofón</option>
            <option>címben</option>
            <option>a kötet előszavában</option>
            <option>a szöveg mellé odaírva</option>
        </select>  
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="conf">Felekezet:</label>
    <div id="conf" class="col-md-10">
        <input type="text" class="form-control" placeholder="Felekezet" ng-model="vers.conf" > </input>  
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="source">Forrás:</label>
    <div id="source" class="col-md-10">
        <input type="text" class="form-control" placeholder="Forrás" ng-model="vers.source" > </input>  
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="text">Szöveg:</label>
    <div id="text" class="col-md-10">
        <textarea rows="30" class="form-control" placeholder="Szöveg..." ng-model="vers.text" > </textarea>  
    </div>
</div>

<!-- 
|   multiple selector for linking 
|   separate controller for match elements
-->
<div class="form-group">

    <label class="control-label col-md-2" for="text">Kapcsolódás:</label>

    <div ng-controller="selectLinkEditCtrl" id="link" class="col-md-10">
        <ui-select 
                multiple="true"
                refresh 
                ng-model="vers.link_coll" 
                theme="bootstrap" 
                close-on-select="false">

            <!-- 
            |   match shows selected tags 
            |   $item is the return of the Ctrl(selectLinkCtrl)     
            -->
            <ui-select-match 
                    placeholder="Kapcsolódási pontok...">

                {{ $item | fillZero:5 }} 

            </ui-select-match>

            <!-- 
            |   choices are produced in Ctrl
            |   passed with ngRepeat with
            -->
            <ui-select-choices 
                    repeat="link in array | filter: $select.search">

                        {{ link | fillZero:5 }} 

            </ui-select-choices>
        </ui-select>
    </div>

</div>

<div 
    ng-include src="'ng/poem/components/editor/poemFormEditMet.html'">
</div>

<div 
    ng-include="'ng/poem/components/editor/poemFormEditCon.html'">
</div>

<div 
    ng-include="'ng/poem/components/editor/poemFormEditRef.html'">
</div>


<div class="form-group">
    <div  class="col-md-6 col-md-offset-6">
        <input class="btn btn-success" type="submit" value="Feltöltés"> </input> 
    </div>
</div>


<div class="" style="margin-top: 50px; margin-bottom: 50px;">
    <label class="control-label col-md-2" for="text">
        <h2>Nyers json</h2>
    </label> 
    <div class=" form-group col-md-10">
        <pre ng-bind="vers | json"></pre>
    </div>
</div> 

<div id="footer" style="height:100px;"></div>