<div class="container-fluid" ng-include="'ng/shared/navView.html'"></div> 


<div class="container-fluid">
    
    <div class="row">
        <div class="form-group">
            <div class="col-md-6"> <input type="text" class="form-control" 
                placeholder="Szűrő" ng-model="filter" /> 
        </div>
            <div class="col-md-5"></div>
            <div class="col-md-1"> <a class="btn btn-primary" href="#upload">Feltöltés</a> </div>
        </div>
    </div>

    <div class="row">
      
        <div class="col-md-2">
            <a href="" ng-click="predicate = 'rmva'; reverse=!reverse">ID
                <span ng-show="predicate == 'rmva'">
                   <span ng-hide="reverse">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                    <span ng-show="reverse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </span>
            </a>
        </div>


        <div class="col-md-2">    
            <a href="" ng-click="predicate = 'title'; reverse=!reverse">Cím
                <span ng-show="predicate == 'title'">
                   <span ng-hide="reverse">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                    <span ng-show="reverse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </span>
            </a>
        </div class="col-md-2">
      
        <div class="col-md-2">
            <a href="" ng-click="predicate = 'inc'; reverse=!reverse">Inipit
                <span ng-show="predicate == 'inc'">
                   <span ng-hide="reverse">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                    <span ng-show="reverse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </span>
            </a>
        </div>
        
        <div class="col-md-2">
            <a href="" ng-click="predicate = 'created_at'; reverse=!reverse">Létrehozva
                <span ng-show="predicate == 'created_at'">
                    <span ng-hide="reverse">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </span>
                    <span ng-show="reverse">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </span>
            </a>
        </div>

        <div class="col-md-2">Törlés</div>

        <div class="col-md-2">Szerkesztés</div>
    </div>

    <div class="row" ng-repeat="vers in data | filter:filter | orderBy:predicate:reverse">

        <div class="col-md-2"> {{vers.rmva}} </div> 
        <div class="col-md-2"> <a href="#view/id/{{vers._id}}"> {{vers.title}} </a> </div> 
        <div class="col-md-2"> {{vers.inc}} </div> 
        <div class="col-md-2"> {{vers.created_at | date:"y-MM-dd hH:mm:ss"}} </div> 
             
        <div class="col-md-2"> 
            <button class="btn btn-danger" ng-click="deleteVers(vers._id)" type="button"> 
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        
        <div class="col-md-2"> 
            <a class="btn btn-primary" href="#edit/id/{{vers._id}}" type="button" >
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </div>
        
       <!--  <div class="col-md-"> 
            <a href="#view/id/{{vers._id}}">Részletek</a>
        </div> -->
    </div>
</div>